<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="wrapper clearfix">
            <h1><a href="#" class="ir">Fakl-benchmark.be</a></h1>
            <h2>baseline</h2>
            @Html.Partial("_LoginPartial")
            <nav id="mainmenu">
                <h2 class="structural">Navigation</h2>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">Benchmarken</a></li>
                    <li><a href="#">Project info</a></li>
                    <li><a href="#">Deelnemers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="content">
        <div class="wrapper clearfix">
            @RenderBody()
        </div>
    </section>
    <footer>
        <div class="wrapper clearfix">
            <section>
                <h2 class ="structural">Footer</h2>
                <ul>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Algemene voorwaarden</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </section>

          

            <section id="copyright">
                <h2><a href="#" class="ir">Fakl-benchmark</a></h2>
                <p>
                    &copy; 2014 Fakl-benchmark.be <a href="#">Fakl-benchmark</a> and is being powered by <a href="#">Combell</a>.
                </p>
            </section>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
